D:\dev\sf32\sf32test\SiFli-SDK\Kconfig.v2
D:\dev\sf32\sf32test\SiFli-SDK\customer\boards\Kconfig.v2
D:\dev\sf32\sf32test\SiFli-SDK\customer\boards\Kconfig_drv
D:\dev\sf32\sf32test\SiFli-SDK\customer\boards\Kconfig_lcd
D:\dev\sf32\sf32test\SiFli-SDK\customer\boards\Kconfig_lcd_fpga
D:\dev\sf32\sf32test\SiFli-SDK\customer\boards\Kconfig_soc
D:\dev\sf32\sf32test\SiFli-SDK\customer\boards\sf32lb52-lcd_base_test\Kconfig.board
D:\dev\sf32\sf32test\SiFli-SDK\customer\boards\sf32lb52-lcd_n16r8_test\Kconfig.board
D:\dev\sf32\sf32test\SiFli-SDK\customer\boards\sf32lb52-lcd_n16r8_test\hcpu\Kconfig.board
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\audio\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\bluetooth\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\buzzer\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\charger\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\encoder\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\gps\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\motor\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\pa\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\pmic_controller\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\rgb\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\sensor\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\customer\peripherals\vibrator\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\example\flash_table\sf32lb52x_common_v2\Kconfig.proj
D:\dev\sf32\sf32test\SiFli-SDK\external\CMSIS\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\CmBacktrace-v1.3.0\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\FlashDB\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\SEGGER_SystemView-master\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\WebRTC_audio_processing\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\cJSON-1.7.17\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\coremark\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\easytlv\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\faad2\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\ffmpeg\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\freetype\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\fsck\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\jpeg_codec\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\libhelix-mp3\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\lvgl_v8\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\lvgl_v8\Kconfig_v8
D:\dev\sf32\sf32test\SiFli-SDK\external\lvgl_v9\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\lz4\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\mbedtls\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\mbedtls_228\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\nanopb\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\opus-1.4\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\quickjs\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\rlottie\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\rpmsg-lite\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\sensor-lib\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\state_machine-latest\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\tinymp3\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\vglite\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\external\webclient\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\audio\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\Kconfig.hw
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.adv
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.iso
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.zbt
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.ccp
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\common\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\lib\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\mesh\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\bluetooth\zephyr_bt\settings\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\core_dump\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\file_logger\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\lvgl\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\metrics_collector\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\middleware\profiler\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\env\packages\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\env\packages\packages\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\env\packages\packages\iot\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\env\packages\packages\iot\netutils\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\env\packages\packages\misc\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\env\packages\packages\misc\samples\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\cplusplus\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\dfs\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\drivers\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\finsh\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\libc\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\net\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\net\at\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\net\lwip\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\net\netdev\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\net\sal\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\components\utilities\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\libcpu\Kconfig
D:\dev\sf32\sf32test\SiFli-SDK\rtos\rtthread\src\Kconfig
D:\dev\sf32\sf32test\ex1\rtt\project\build_sf32lb52-lcd_n16r8_test_hcpu\ftab\Kconfig
