source "$SIFLI_SDK/Kconfig.v2"
source "$SIFLI_SDK/customer/boards/Kconfig.v2"
source "e:/study/sf32/SiFli-SDK/customer/boards/sf32lb52-lcd_n16r8_test/hcpu/Kconfig.board"
source "e:/study/sf32/SiFli-SDK/example/flash_table/sf32lb52x_common_v2/Kconfig.proj"