E:\study\sf32\SiFli-SDK\Kconfig.v2
E:\study\sf32\SiFli-SDK\customer\boards\Kconfig.v2
E:\study\sf32\SiFli-SDK\customer\boards\Kconfig_drv
E:\study\sf32\SiFli-SDK\customer\boards\Kconfig_lcd
E:\study\sf32\SiFli-SDK\customer\boards\Kconfig_lcd_fpga
E:\study\sf32\SiFli-SDK\customer\boards\Kconfig_soc
E:\study\sf32\SiFli-SDK\customer\boards\sf32lb52-nano_base\Kconfig.board
E:\study\sf32\SiFli-SDK\customer\boards\sf32lb52-nano_n16r16\Kconfig.board
E:\study\sf32\SiFli-SDK\customer\boards\sf32lb52-nano_n16r16\hcpu\Kconfig.board
E:\study\sf32\SiFli-SDK\customer\peripherals\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\audio\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\bluetooth\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\buzzer\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\charger\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\encoder\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\gps\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\motor\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\pa\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\pmic_controller\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\rgb\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\sensor\Kconfig
E:\study\sf32\SiFli-SDK\customer\peripherals\vibrator\Kconfig
E:\study\sf32\SiFli-SDK\example\boot_loader\project\butterflmicro\ram_v2\Kconfig.proj
E:\study\sf32\SiFli-SDK\example\get-started\hello_world\rtt\project\build_sf32lb52-nano_n16r16_hcpu\bootloader\Kconfig
E:\study\sf32\SiFli-SDK\external\CMSIS\Kconfig
E:\study\sf32\SiFli-SDK\external\CmBacktrace-v1.3.0\Kconfig
E:\study\sf32\SiFli-SDK\external\FlashDB\Kconfig
E:\study\sf32\SiFli-SDK\external\Kconfig
E:\study\sf32\SiFli-SDK\external\SEGGER_SystemView-master\Kconfig
E:\study\sf32\SiFli-SDK\external\WebRTC_audio_processing\Kconfig
E:\study\sf32\SiFli-SDK\external\cJSON-1.7.17\Kconfig
E:\study\sf32\SiFli-SDK\external\coremark\Kconfig
E:\study\sf32\SiFli-SDK\external\easytlv\Kconfig
E:\study\sf32\SiFli-SDK\external\faad2\Kconfig
E:\study\sf32\SiFli-SDK\external\ffmpeg\Kconfig
E:\study\sf32\SiFli-SDK\external\freetype\Kconfig
E:\study\sf32\SiFli-SDK\external\fsck\Kconfig
E:\study\sf32\SiFli-SDK\external\jpeg_codec\Kconfig
E:\study\sf32\SiFli-SDK\external\libhelix-mp3\Kconfig
E:\study\sf32\SiFli-SDK\external\lvgl_v8\Kconfig
E:\study\sf32\SiFli-SDK\external\lvgl_v8\Kconfig_v8
E:\study\sf32\SiFli-SDK\external\lvgl_v9\Kconfig
E:\study\sf32\SiFli-SDK\external\lz4\Kconfig
E:\study\sf32\SiFli-SDK\external\mbedtls\Kconfig
E:\study\sf32\SiFli-SDK\external\mbedtls_228\Kconfig
E:\study\sf32\SiFli-SDK\external\nanopb\Kconfig
E:\study\sf32\SiFli-SDK\external\opus-1.4\Kconfig
E:\study\sf32\SiFli-SDK\external\quickjs\Kconfig
E:\study\sf32\SiFli-SDK\external\rlottie\Kconfig
E:\study\sf32\SiFli-SDK\external\rpmsg-lite\Kconfig
E:\study\sf32\SiFli-SDK\external\sensor-lib\Kconfig
E:\study\sf32\SiFli-SDK\external\state_machine-latest\Kconfig
E:\study\sf32\SiFli-SDK\external\tinymp3\Kconfig
E:\study\sf32\SiFli-SDK\external\vglite\Kconfig
E:\study\sf32\SiFli-SDK\external\webclient\Kconfig
E:\study\sf32\SiFli-SDK\middleware\Kconfig
E:\study\sf32\SiFli-SDK\middleware\audio\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\Kconfig.hw
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.adv
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.iso
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.zbt
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.ccp
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\common\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\lib\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\mesh\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
E:\study\sf32\SiFli-SDK\middleware\bluetooth\zephyr_bt\settings\Kconfig
E:\study\sf32\SiFli-SDK\middleware\core_dump\Kconfig
E:\study\sf32\SiFli-SDK\middleware\file_logger\Kconfig
E:\study\sf32\SiFli-SDK\middleware\lvgl\Kconfig
E:\study\sf32\SiFli-SDK\middleware\metrics_collector\Kconfig
E:\study\sf32\SiFli-SDK\middleware\profiler\Kconfig
E:\study\sf32\SiFli-SDK\rtos\Kconfig
E:\study\sf32\SiFli-SDK\rtos\env\packages\Kconfig
E:\study\sf32\SiFli-SDK\rtos\env\packages\packages\Kconfig
E:\study\sf32\SiFli-SDK\rtos\env\packages\packages\iot\Kconfig
E:\study\sf32\SiFli-SDK\rtos\env\packages\packages\iot\netutils\Kconfig
E:\study\sf32\SiFli-SDK\rtos\env\packages\packages\misc\Kconfig
E:\study\sf32\SiFli-SDK\rtos\env\packages\packages\misc\samples\Kconfig
E:\study\sf32\SiFli-SDK\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\cplusplus\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\dfs\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\drivers\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\finsh\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\libc\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\net\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\net\at\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\net\lwip\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\net\netdev\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\net\sal\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\components\utilities\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\libcpu\Kconfig
E:\study\sf32\SiFli-SDK\rtos\rtthread\src\Kconfig
